<!DOCTYPE html>
<html>
<head>
	<title>{{var}}</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/up">
	<input  type="file" name="up"/>
	<button type="submit">Save</button>
</form>

</body>
</html>