<!DOCTYPE html>
<html>
<head>
	<title>About the product</title>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<img src="/files/up-1493887762921.png">
</div>
</body>
</html>