<!DOCTYPE html>
<html>
<head>
  <title>{{var}}</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/up">
  Image:<input  type="file" name="up"/><br>
  About the product:<input type="text" name="about"><br>
  Product name:<input type="text" name="product"><br>
  <button type="submit">Save</button>
</form>

</body>
</html>